<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>NetBeat Webhosting - www.netbeat.de</title>
</head>
<body bgcolor="#FFFFFF">
<table align="center" height="70%">
        <tr>
        <td valign="middle" align="center">
                <a href="http://www.netbeat.de/"><img src="http://www.netbeat.de/img/frei.gif" alt="NetBeat Webhosting, www.netbeat.de - soeben freigeschaltete Domain" border="0"></a>
        </td>
        </tr>
</table>
<font face="Arial">Ihre NetBeat-Standardskripte:<br>
        <a href="wwwboard.html">Forum</a><br>
        <a href="guestbook.html">G&auml;stebuch</a><br>
        <br>
        <center> Wir wuenschen Ihnen viel Spa&szlig; mit <a href="http://www.netbeat.de/">NetBeat Webhosting</a>!</center>
</font>
</body>
</html>
